

header {
    color: #ffffff;
    --header-text-color: #ffffff;
    font-size: 18px;
    box-shadow: 2px 2px 30px 5px #7e7e7e67;
    background-color: #d63031;
}

.header-direct{
    flex: 1;
}

.header-direct img {
    width: 5%;
    padding: 0.75%;
}

.nav {
    flex: 1;
}

.menu {
    list-style-type: none;
    margin: 0;
}

.menu-item {
    float: right;
    padding: 3%;
}

.menu-item:hover {
    transition-duration: 0.2s;
    cursor: pointer;
    background-color: #c92d2d;
    color: #000000;
    border-bottom: 4px solid #727272;
    margin-bottom: -4px;
}