@import 'text.css';
@import 'nav.css';

body, html {
    margin: 0px;
    height: 100vh;
    font-family: Roboto;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flex-end {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.slc-1 {width: 10%;}
.slc-2 {width: 20%;}
.slc-3 {width: 30%;}
.slc-4 {width: 40%;}
.slc-8 {width: 80%;}
.slc-9 {width: 90%;}

.px-1 {
    padding-left: 0.5%;
    padding-right: 0.5%;
}

.content {
    width: 100%;
    padding-top: 1%;
    padding-bottom: 1%;
}

.splitter {
    border-bottom: 0.001em solid #49494965;
}

.float-l {float: left;}
.float-r {float: right;}