@font-face {
    font-family: Roboto;
    src: url('../fonts/Roboto-Thin.ttf');
}

@font-face {
    font-family: Langdon;
    src: url('../fonts/Langdon.otf');
}


a {
    text-decoration: none;
    color: var(--header-text-color);
}

.text-l {text-align: left;}
.text-r {text-align: right;}

.text-h-sm {line-height: 1.5;}
.text-h-md {line-height: 2;}
.text-h-lg {line-height: 3;}

#about {font-size: 1.4em;}